![kdata](../img/kdata-logo.png)

Date : 19.07.11

# Pythonic Programming

## 1. Comprehension

### List
```
→ [ <expr> for <var> in <iterator> ]
→ [ <expr> for <var> in <iterator> if <expr> ]
```

### Set
```
→ { <expr> for <var> in <iterator> }
→ { <expr> for <var> in <iterator> if <expr> }
```

### Dict
```
→ { <expr>:<expr> for <var> in <iterator> }
→ { <expr>:<expr> for <var> in <iterator> if <expr> }
```

### Gen
```
→ <iterator> = (for <var> in <collections>)
→ <iterator> = (for <var> in <collection> if <expression>)
```

### 도전하세요!!
```python
txt = "The quick brown fox jupsover the lazy dog"

# [단어, 단어길이] 구하기
print( ? )
# → [['THE', 3], ['QUICK', 5], … , ['DOG', 3]]

#길이가 3인 경우만 구하기
print([ … ])
# → [['THE', 3], ['FOX', 3], ['THE', 3], ['DOG', 3]]
```

In [10]:
txt = "The quick brown fox jupsover the lazy dog"

In [11]:
[[w.upper(),len(w)] for w in txt.split(" ")]

[['THE', 3],
 ['QUICK', 5],
 ['BROWN', 5],
 ['FOX', 3],
 ['JUPSOVER', 8],
 ['THE', 3],
 ['LAZY', 4],
 ['DOG', 3]]

In [12]:
[[w.upper(),len(w)] for w in txt.split(" ") if len(w)==3]

[['THE', 3], ['FOX', 3], ['THE', 3], ['DOG', 3]]

> 구구단 1단 부터 9단까지 모든 결과의 "집합"을 구하세요!

In [14]:
print(set([i*j for i in range(1,10) for j in range(1,10)]),end=' ')

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24, 25, 27, 28, 30, 32, 35, 36, 40, 42, 45, 48, 49, 54, 56, 63, 64, 72, 81}

```python
s_list = [('math', 90), ('history', 80), ('English',
95) , ('cs', 100)]
print( ? )
→ {'math': 90, 'history': 80, 'English': 95, 'cs':
100}
```

In [15]:
s_list = [('math', 90), ('history', 80),
          ('English',95) , ('cs', 100)]

{course:score for course,score in s_list}

{'math': 90, 'history': 80, 'English': 95, 'cs': 100}

In [107]:
mygen = (i*j for i in range(1,10) for j in range(1,10))
mygen

In [108]:
next(mygen)

1

## 2. enumerate

In [109]:
enumerate(['Spring', 'Summer', 'Fall', 'Winter'])

In [113]:
print([_ for _ in enumerate(['Spring', 'Summer', 'Fall', 'Winter'])])

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

### 도전하세요

In [110]:
txt="The lack of visibility in the oil industry's long-term future remains a big risk for investors. Rapidly evolving technology and shifting political winds could hasten the arrival of peak oil well before Wall Street's estimates. That could cause serious financial pain."

In [118]:
{c+1:w for c,w in enumerate(txt.split(' '))}

{1: 'The',
 2: 'lack',
 3: 'of',
 4: 'visibility',
 5: 'in',
 6: 'the',
 7: 'oil',
 8: "industry's",
 9: 'long-term',
 10: 'future',
 11: 'remains',
 12: 'a',
 13: 'big',
 14: 'risk',
 15: 'for',
 16: 'investors.',
 17: 'Rapidly',
 18: 'evolving',
 19: 'technology',
 20: 'and',
 21: 'shifting',
 22: 'political',
 23: 'winds',
 24: 'could',
 25: 'hasten',
 26: 'the',
 27: 'arrival',
 28: 'of',
 29: 'peak',
 30: 'oil',
 31: 'well',
 32: 'before',
 33: 'Wall',
 34: "Street's",
 35: 'estimates.',
 36: 'That',
 37: 'could',
 38: 'cause',
 39: 'serious',
 40: 'financial',
 41: 'pain.'}

## 3. zip

In [119]:
subs = ['math','history','English','cs']
scores = [90, 80, 95, 100]

In [124]:
my_score = {sub:score for sub,score in zip(subs,scores)}
print(my_score)

{'math': 90, 'history': 80, 'English': 95, 'cs': 100}

## 4. lambda
```python
lambda [params]: [ret]
lambda [params]: [ret1] if [condition] else [ret2]
```

In [133]:
f = lambda x,y : x+y
f(1,4)

5

In [137]:
g = lambda x : x if x%2 == 0 else x*2
g(4)

4

## 5. map
각각의 아이템을 순회하면서 함수를 적용함
```python
map(function, iterable, ...) # 함수, 리스트 같은거
```

In [141]:
list(map(lambda x: x * 2, [1, 2, 3])) # 각각의 아이템을 순회하면서 함수를 적용함

[2, 4, 6]

In [140]:
list(map(int, input().split( )))

1 3 4

[1, 3, 4]

## 6. reduce
```python
from functools import reduce
functools.reduce(function, iterable[, initializer])
```

In [142]:
from functools import reduce
reduce(lambda x, y: x + y , [1, 2, 3])

6

## 7. pack

In [162]:
def pack_t( *param ):
    print(param)
pack_t( "earth", "mars", "venus" )

('earth', 'mars', 'venus')

In [163]:
def unpack_d( **param):
    print(param)
unpack_d( first="earth", second="mars" )

{'first': 'earth', 'second': 'mars'}

## 8. unpacking

In [164]:
*range(4), 4

(0, 1, 2, 3, 4)

In [165]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [166]:
{*range(4), 4}

{0, 1, 2, 3, 4}

In [167]:
{'x': 1, **{'y': 2}}

{'x': 1, 'y': 2}

In [159]:
a, *b, c = range(5)
b

[1, 2, 3]

In [161]:
for a, *b in [(1, 2, 3), (4, 5, 6, 7)]:
    print(b)

[2, 3]
[5, 6, 7]

## 종합문제

In [131]:
loc = ['Seoul', 'Busan', 'Incheon']
est = ['5512', '113', '6112']

{'env'+str(i[0]):list(i[1]) for i in enumerate(zip(loc,est),start=1)}

{'env1': ['Seoul', '5512'],
 'env2': ['Busan', '113'],
 'env3': ['Incheon', '6112']}

In [148]:
import random
import time
from functools import reduce

random.seed((time.time()))
est = [random.random() for _ in range(10)]
print(est)

[0.9553282096215784, 0.6120958807346134, 0.056101940962413166, 0.9396765638194012, 0.9235693050720396, 0.6208885623731658, 0.9794875157483586, 0.6425861012692342, 0.2807942081396746, 0.826163223720257]

In [156]:
# print(reduce(max,est))
print(reduce(lambda x,y : x if x>y else y, est))

0.9794875157483586

In [157]:
print(reduce(lambda x,y : y if x>y else x, est))

0.056101940962413166