# 실무예제 2-1

## 다음은 부산광역시 사상구 약수터 수질현황표(검사일: 2015년 11월 5일)이다. 표 상에 나타난 결측 속성값(일반세균, 질산성질소)을 채우시오.

### 데이터 파일 : ch2-1(약수터수질현황).csv

### 원본 투플수 : 24개

In [1]:
# ch2-1.py

# 데이터프레임 활용을 위한 pandas 패키지 임포트
import pandas as pd

In [2]:
# 데이터로드 (ch2-1.csv : 데이터 원본 파일)
# encoding : 윈도우즈 환경에서의 한글 처리
# engine : python 3.6에서 한글이 포함된 파일이름 사용
rawData = pd.read_csv('.jupyter/ch2-1(약수터수질현황).csv', encoding='CP949', engine='python')

In [3]:
rawData

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    NaN   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
16  17    밤골  주례   음 성    NaN    NaN   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    NaN    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

### read_csv() : csv 파일을 읽어서 pandas 데이터프레임에 넣는 함수. encoding과 engine 패러미터는 윈도우즈 환경에서 한글처리를 위해 사용

## 1) 해당 투플을 무시하는 방법 (row-wise deletion)

In [4]:
# 결측값(NULL값)을 포함하고 있는 투플 제거(row-wise deletion)
rawData_missing_exclusion = rawData.dropna()

### dropna() : NULL값이 포함되어 있는 투플을 삭제하는 데이터프레임 함수

In [5]:
rawData_missing_exclusion

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

### 책의 예제코드에서는 변수값 출력을 위해서 print() 함수를 사용하였으나, Jupyter Notebook 환경에서는 변수명만으로 출력이 가능함. (변수명만 사용하는 것이 print() 함수를 사용하는 것보다 테이블 형태로 출력되어 더 깔끔함)

## 2) 전역상수(global constant)를 사용하여 결측값을 채워 넣는 방법

In [6]:
# 결측값(NULL값)을 전역상수(0)로 대체
rawData_missing_fill_constant = rawData.fillna(0)

### fillna(x) : NULL값을 상수값 x로 채우는 데이터프레임 함수이다. query()는 데이터프레임에서 특정 조건에 맞는 투플을 선택하기 위한 데이터프레임 함수

In [7]:
# 결과보기 (결측값은 채운 연번이 4, 17, 20인 투플만 출력)
rawData_missing_fill_constant.query('연번 in (4, 17, 20)')

    연번 약수터명  동명 총대장균군  일반세균  질산성질소   적합
3    4  서당골  모라   음 성  10.0    0.0   적합
16  17   밤골  주례   음 성   0.0    0.0   적합
19  20   승학  학장   양 성   0.0    0.3  부적합

## 3) 속성의 평균값을 사용하여 결측값을 채워 넣는 방법

In [8]:
# 결측값(NULL값)을 해당 속성의 평균값으로 대체
rawData_missing_fill_mean = rawData.fillna(rawData.mean())

### mean() : 해당 속성의 평균값을 구하는 데이터프레임 함수

In [9]:
# 결과보기 (결측값은 채운 연번이 4, 17, 20인 투플만 출력)
rawData_missing_fill_mean.query('연번 in (4, 17, 20)')

    연번 약수터명  동명 총대장균군       일반세균     질산성질소   적합
3    4  서당골  모라   음 성  10.000000  2.631818   적합
16  17   밤골  주례   음 성  20.454545  2.631818   적합
19  20   승학  학장   양 성  20.454545  0.300000  부적합

## 4) 주어진 투플과 같은 클래스(분류)에 속하는 투플 들의 속성 평균값을 채워 넣는 방법

In [12]:
# 결측값을 같은 클래스(분류)의 속성 평균값으로 대체
# 클래스(분류) 기준 속성 : 적합
# 데이터프레임 복사 : rawData -> rawData_missing_fill_mean_groupby
# copy=True 이면 별도의 공간에 데이터프레임 생성
rawData_missing_fill_mean_groupby = pd.DataFrame(rawData, copy=True)
rawData_missing_fill_mean_groupby['일반세균'].fillna(rawData_missing_fill_mean_groupby.groupby('적합')['일반세균'].transform('mean'), 
                                                 inplace=True)
rawData_missing_fill_mean_groupby['질산성질소'].fillna(rawData_missing_fill_mean_groupby.groupby('적합')['질산성질소'].transform('mean'), 
                                                 inplace=True)

### groupby('적합')['일반세균'].transform('mean') : 데이터프레임을 ‘적합’ 속성으로 그룹핑하여 그룹별 ‘일반세균’ 속성의 평균값을 구하는 데이터프레임 함수

In [13]:
# 결과보기 (결측값은 채운 연번이 4, 17, 20인 투플만 출력)
rawData_missing_fill_mean_groupby.query('연번 in (4, 17, 20)')

    연번 약수터명  동명 총대장균군       일반세균     질산성질소   적합
3    4  서당골  모라   음 성  10.000000  2.706667   적합
16  17   밤골  주례   음 성  15.625000  2.706667   적합
19  20   승학  학장   양 성  33.333333  0.300000  부적합

## 5) 가장 가능성이 높은 값으로 결측값을 채워 넣는 방법

In [25]:
# 회귀분석을 활용한 결측치 예측 (일반세균과 질산성질소 간 회귀분석)
from scipy import stats  # 선형회귀분석을 위한 scipy 패키지 중 stats 모듈 임포트
import numpy as np  # 수학 및 과학 연산을 위한 패키지

# 회귀분석을 활용한 결측치 예측 (일반세균과 질산성질소 간 회귀분석)
# stats.linregress(x, y) : y = slope * x + intercept 형식의 선형함수를 찾아주는 stats 모듈 함수로 다섯 개의 값을 반환
# 데이터프레임 복사 : rawData -> rawData_missing_fill_regression
rawData_missing_fill_regression = pd.DataFrame(rawData, copy=True)

### copy=True 는 복사본 프레임을 별도의 공간에 따로 저장하라는 의미

In [26]:
# mask : 일반세균 속성값과 질산성질소 속성값 둘 다 NaN(NULL)이 아닐 때 True로 세팅하기 위한 변수
mask = ~np.isnan(rawData_missing_fill_regression['일반세균']) & ~np.isnan(rawData_missing_fill_regression['질산성질소'])

### mask변수는 일반세균 속성값과 질산성질소 속성값 둘 다 NaN이 아닐 때 True로 세팅됨
### isnan() : 패러미터 값이 NaN인지 여부를 반환하는 함수

In [19]:
mask

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18     True
19    False
20     True
21     True
22     True
23     True
dtype: bool

In [27]:
# NaN(NULL)값을 제외하고 선형회귀분석 수행
slope, intercept, r_value, p_value, std_err = stats.linregress(rawData_missing_fill_regression['일반세균'][mask], 
                                                               rawData_missing_fill_regression['질산성질소'][mask])

### stats.linregress(x, y) : 속성 x에 대한 속성 y의 선형회귀분석을 수행하는 scipy 패키지 stats 모듈함수. 5개의 결과값을 반환하는데, 『y = slope * x + intercept』 형태의 선형함수식으로 해석됨

In [28]:
# 일반세균값에 의한 질산성질소값 산출 (연번 4번 투플에 적용)
rawData_missing_fill_regression.loc[3, '질산성질소'] = rawData_missing_fill_regression['일반세균'][3] * slope + intercept

### rawData.loc[3, ‘질산성질소’] : 데이터프레임 3번행(4번째행)의 ‘질산성질소’ 속성을 의미 (데이터프레임 기본 인덱스는 0번부터 시작됨) 
### rawData[‘일반세균’][3] : 데이터프레임 ‘일반세균’ 속성의 3번행(4번째행) 값을 의미

In [30]:
# NaN(NULL)값을 제외하고 선형회귀분석 수행
slope, intercept, r_value, p_value, std_err = stats.linregress(rawData_missing_fill_regression['질산성질소'][mask], 
                                                               rawData_missing_fill_regression['일반세균'][mask])

# 질산성질소 값에 의한 일반세균값 산출 (연번 20번 투플에 적용)
rawData_missing_fill_regression.loc[19, '일반세균'] = rawData_missing_fill_regression['질산성질소'][19] * slope + intercept

In [31]:
# 결과보기 (결측값은 채운 연번이 4, 20인 투플만 출력)
rawData_missing_fill_regression.query('연번 in (4, 20)')

    연번 약수터명  동명 총대장균군       일반세균     질산성질소   적합
3    4  서당골  모라   음 성  10.000000  3.045076   적합
19  20   승학  학장   양 성  31.875432  0.300000  부적합