![kdata](../img/kdata-logo.png)

# Python Basic Lecture03 : 파이썬 자료구조 ( Python Data Structure )

Date : 2019.07.01

## 1.리스트(List)

In [74]:
list() # 빈 리스트

[]

In [13]:
x = [10,20,30] # 콤마(,)로 구분하자
print(x)

[10, 20, 30]

In [14]:
y = [100,3.14,'abc',True,x] # Type이 다 같을 필요가 없음! 즉, 어떤 type이든 상관없음
print(y)

[100, 3.14, 'abc', True, [10, 20, 30]]

In [11]:
band_list = [] # 빈 list

In [12]:
band_list = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
print(band_list)

['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

In [15]:
band_list[0] # 첫번째 원소

'호피폴라'

In [16]:
print(band_list[1]) # print하면 따옴표 날아감

애프터문

In [17]:
list_in_list = [1,2,['Ha',3]]
print(list_in_list[2])

['Ha', 3]

In [18]:
print(list_in_list[2][0])

Ha

In [20]:
band_list[-1] # 거꾸로...-1은 마지막 원소

'피플 온 더 브릿지'

band_list[-7] # 없으니까 Error
```
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-21-b40931a885fc> in <module>
----> 1 band_list[-7]

IndexError: list index out of range

```

In [40]:
num_str_list = [1,2,'Ha','No Limit',5]
del num_str_list[2]
num_str_list # Ha가 사라짐

[1, 2, 'No Limit', 5]

In [42]:
num_str_list = [1,2,'Ha','No Limit',5]
num_str_list[1:4] = [] # list의 일부 삭제, 1,2,3번째 원소들 없앰
# del num_str_list[1:4]
num_str_list

[1, 5]

In [46]:
print(band_list)
band_list[1:4:2] # 1번 원소부터 4번 원소전까지 2칸씩

['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

['애프터문', '모네']

In [48]:
print(band_list[0:5:2]) # slicing한 결과는 새로운 리스트!!
print(band_list[:5:2]) # 같은 소리임

['호피폴라', '루시', '퍼플레인']
['호피폴라', '루시', '퍼플레인']

In [49]:
print(band_list[::3])

['호피폴라', '모네']

In [52]:
x = [ x for x in range(10) ]
print(x[:])
print(x[:-1])
print(x[1:6:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5]

In [54]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
b_list = bands
c_list = bands[:] # bands의 값을 복사해서 새로운 변수에 할당했음
del bands[1]
print(b_list)
print(c_list) # 애프터문이 살아있음 왜냐하면 새로운 리스트를 생성한 것이기 때문에
print(bands)

['호피폴라', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']
['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']
['호피폴라', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

In [59]:
print(hex(id(bands)),hex(id(b_list)))
bands is b_list

0x10b44a408 0x10b44a408

True

In [60]:
print(hex(id(bands)),hex(id(c_list)))
bands is c_list # 애초에 메모리 주소에 다른 곳에 할당되어있는거였음

0x10b44a408 0x10b44aec8

False

In [66]:
s_bands = ['호피폴라','애프터문','루시']
s_bands[::2] = ['루시','호피폴라'] # slicing한 리스트와 대입하려는 리스트의 size가 같아야하는구나
s_bands

['루시', '애프터문', '호피폴라']

In [1]:
s_bands = ['호피폴라','애프터문','루시']
print(id(s_bands))
s_bands[:] = ['루시',100,'호피폴라'] # id가 같다는건 결국 새로운 리스트로 만들어주는거였음
print(id(s_bands))

4449804744
4449804744

#### 리스트에 원소 추가하기 
- `+` 연산자
- append
- extend

In [4]:
new_list = ['루시','호피폴라','애프터문','루시']
new_list = new_list + ['모네'] # + 연산자를 통해서 리스트에 원소를 추가할 수 있음
new_list

['루시', '호피폴라', '애프터문', '루시', '모네']

In [5]:
new_list.append('퍼플레인') # append함수를 통해서 더할 수 있다
new_list

['루시', '호피폴라', '애프터문', '루시', '모네', '퍼플레인']

In [21]:
new_list.extend(['옥상달빛','볼빨간사춘기'])
new_list

['루시', '호피폴라', '애프터문', '루시', '모네', '퍼플레인', '옥상달빛', '볼빨간사춘기']

#### 2차원 리스트

In [20]:
l1 = ['이름','성적','수학']
l2 = ['홍길동',70,80]
l3 = ['김돌쇠',50,50]
l4 = ['강철수',90,100]
s = [l1,l2,l3,l4]
print(s)

[['이름', '성적', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], ['강철수', 90, 100]]

In [22]:
print(s[3])
print(s[3][0])

['강철수', 90, 100]
강철수

#### 3차원 리스트

In [23]:
s1 = [l1,l2,l3,l4]
s2 = [l2,l3,l4,l1]
s3 = [l3,l4,l1,l2]
s4 = [l4,l1,l2,l3]
s = [s1,s2,s3,s4]
s # 마지막 대괄호가 3개니까 3차원이란걸 단번에 알 수 있음

[[['이름', '성적', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], ['강철수', 90, 100]],
 [['홍길동', 70, 80], ['김돌쇠', 50, 50], ['강철수', 90, 100], ['이름', '성적', '수학']],
 [['김돌쇠', 50, 50], ['강철수', 90, 100], ['이름', '성적', '수학'], ['홍길동', 70, 80]],
 [['강철수', 90, 100], ['이름', '성적', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50]]]

In [25]:
s[2][0][1]

50

#### pop함수

In [32]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
bands2 = bands[:] # 새롭게 리스트를 할당해주고
# bands2 = bands 하면 큰일나겠다. 이러면 원본도 영향을 주는거니까...
print("마지막 원소 : ",bands2.pop()) # 마지막 원소 삭제
print(bands2)
print(bands)

마지막 원소 :  피플 온 더 브릿지
['호피폴라', '애프터문', '루시', '모네', '퍼플레인']
['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

#### insert함수

In [39]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
bands3 = bands[:]
bands3.insert(3,'옥상달빛') # 3번째에 넣어라
#bands3.insert(-2,'볼빨간사춘기')
bands3

['호피폴라', '애프터문', '루시', '옥상달빛', '모네', '퍼플레인', '피플 온 더 브릿지']

#### sort함수

In [41]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
bands4 = bands[:]
print(bands4)
bands4.sort() # 가나다순으로 정렬해줌
print(bands4)
bands4.sort(reverse=True) # 가나다 역순으로 정렬해줌
print(bands4)

['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']
['루시', '모네', '애프터문', '퍼플레인', '피플 온 더 브릿지', '호피폴라']
['호피폴라', '피플 온 더 브릿지', '퍼플레인', '애프터문', '모네', '루시']

#### index함수

In [42]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
bands.index('루시')

2

#### remove함수

In [46]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지','모네']
bands.remove('모네') # 중복된 값 다 지우진 않음
bands

['호피폴라', '애프터문', '루시', '퍼플레인', '피플 온 더 브릿지', '모네']

#### len함수

In [48]:
bands = ['호피폴라','애프터문','루시','모네','퍼플레인','피플 온 더 브릿지']
print(len(bands)) # list의 길이
print(len(bands[0])) # string의 길이

6
4

## 2.튜플(Tuple)
값을 바꿀 수 없는 리스트, 수정 불가!!  
값 변경, 추가, 제거, 정렬 다 안됨

In [75]:
tuple()

()

In [54]:
t_days = ('Sun','Mon','Tue','Wed','Thur','Fri','Sat') 
t_days

('Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat')

In [55]:
t_days = 'Sun','Mon','Tue','Wed','Thur','Fri','Sat' # 사실 괄호가 없어도 됨
print(type(t_days))

<class 'tuple'>

In [56]:
t_days[1]

'Mon'

del t_days[0]
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-57-eac9e44de8ae> in <module>
----> 1 del t_days[0]

TypeError: 'tuple' object doesn't support item deletion
```

In [58]:
t_days[1:4]

('Mon', 'Tue', 'Wed')

In [59]:
t_days[1:6:2]

('Mon', 'Wed', 'Fri')

In [60]:
a = (1,2,3)
b = (4,5)

In [61]:
a+b

(1, 2, 3, 4, 5)

In [62]:
a + (90,) # 콤마(,)를 찍어주지 않으면 튜플이라고 생각 안 할 수도 있어서

(1, 2, 3, 90)

In [63]:
a * 2

(1, 2, 3, 1, 2, 3)

#### Tuple Assignment

In [69]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [70]:
(a,b,c) = 1,2,3
print(a,b,c)

1 2 3

In [71]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [72]:
(a,b,c) = (1,2,3)
print(a,b,c)

1 2 3

## 3. 딕셔너리(Dict)
key, value로 되어 있음!  
key값은 유일해야하지만, value값은 유일할 필요없음!

In [76]:
dict()

{}

In [79]:
singer = {'이름':'김광석',
          '출생년도':1980,
          '데뷔곡':'너에게'
          #'데뷔곡': '가나다' key가 유일하게 해줘야함
}

In [80]:
singer['이름']

'김광석'

In [84]:
singer['성별'] = '남자' # item 추가 혹은 value 수정
singer['출생년도'] = 1964
singer

{'이름': '김광석', '출생년도': 1964, '데뷔곡': '너에게', '성별': '남자'}

In [86]:
year = {2016:'원숭이',2017:'닭',2018:'개'}
year[2016]

'원숭이'

In [88]:
year = {2016:'원숭이',2017:'닭',2018:'개'}
del year[2017]
year

{2016: '원숭이', 2018: '개'}

In [96]:
print(type(year.items()))
list(year.items()) # list로 바꿔야 slicing이나 indexing이 가능

<class 'dict_items'>

[(2016, '원숭이'), (2018, '개')]

In [102]:
year.keys()

dict_keys([2016, 2018])

In [104]:
list(year.keys()) # list로 바꿔야 slicing이나 indexing이 가능

[2016, 2018]

In [101]:
year.values()

dict_values(['원숭이', '개'])

In [103]:
list(year.values()) # list로 바꿔야 slicing이나 indexing이 가능

['원숭이', '개']

In [105]:
'원숭이' in list(year.values()) # in은 안에 있는지

True

In [106]:
2014 in list(year.keys())

False

In [110]:
year

{2016: '원숭이', 2018: '개'}

In [107]:
2016 in year # in 은 dict의 key에서만 찾음!

True

In [109]:
'원숭이' in year # in 은 dict의 key에서만 찾음!

False

In [112]:
year[(2016,2017)]='원숭이닭' # tuple은 key값에 올 수 있음!!
year

{2016: '원숭이', 2018: '개', (2016, 2017): '원숭이닭'}

## 4.집합(Set)
순서가 없어서 indexing이 불가능  
중복된 원소들을 제거함

In [115]:
set()

set()

In [113]:
nums = {1,2,3} # 중괄호로 묶어야함
type(nums)

set

In [117]:
nums # 순서가 없음

{1, 2, 3}

In [121]:
player_set = set([1,2,3,3,4,2,4,5,5,6])
player_set

{1, 2, 3, 4, 5, 6}

In [122]:
player_set = set('Life is too short, Learn Python!')
player_set

{' ',
 '!',
 ',',
 'L',
 'P',
 'a',
 'e',
 'f',
 'h',
 'i',
 'n',
 'o',
 'r',
 's',
 't',
 'y'}

In [127]:
player_set = set([1,2,3,3,4,2,4,5,5,6])
player_list = list(player_set)
player_list # 우연히 정렬되어있을 수 있음

[1, 2, 3, 4, 5, 6]

In [128]:
player_set = set([1,2,3,3,4,2,4,5,5,6])
player_set.add(10)
print(player_set)

{1, 2, 3, 4, 5, 6, 10}

In [130]:
player_set = set([1,2,3,3,4,2,4,5,5,6])
player_set.remove(5)
print(player_set)

{1, 2, 3, 4, 6}

In [133]:
player_set.pop() # 하나가 없어지긴 하는데 뭐가 없어지는지 모를 수 있음

2

In [134]:
player_set

{3, 4, 6}

In [139]:
a = set([1,2,3,4])
b = set([3,4,5,6])

In [140]:
a&b # 교집합

{3, 4}

In [141]:
a.intersection(b) # 교집합

{3, 4}

In [142]:
a | b # 합집합

{1, 2, 3, 4, 5, 6}

In [143]:
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6}

In [144]:
a-b # 차집합

{1, 2}

In [145]:
a.difference(b) # 차집합

{1, 2}

In [146]:
a^b # 대칭차집합

{1, 2, 5, 6}

In [147]:
a.symmetric_difference(b) # 대칭차집합

{1, 2, 5, 6}