# Chap 1 Pandas 개요 및 데이터 타입 소개 1(Series)

강사님 강의 링크 : https://www.youtube.com/watch?v=rtRnYn1xOCw&feature=youtu.be


## 파이썬의 과학기술 분야 Ecosystem
<img src="img/1강/파이썬과학기술라이브러리.jpg" alt="datetime" style="width: 600px;"/>

# 1. Pandas 소개
<img src="img/1강/6pandas소개.jpg" alt="datetime" style="width: 600px;"/>

# [ Pandas API 공식 문서 ]
## http://pandas.pydata.org/pandas-docs/stable/api.html

# 2. Pandas 주요 데이터 타입

## 2.1. Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1200px;"/>

In [1]:
# import pandas
import pandas as pd # pandas를 pd라고 별칭을 줄 수 있음
# from pandas import Series # 이렇게 하면 pandas에서 Series라는 객체를 가져오는 역할

## 2.1.1 Series 생성

In [3]:
data1 = pd.Series([3,5,1,2])
data1

0    3
1    5
2    1
3    2
dtype: int64

In [4]:
type(data1.values) # pandas는 numpy 기반으로 만든 것이라는 걸 알 수 있음

numpy.ndarray

In [5]:
# 값은 모든 데이터 타입 가능
data2 = pd.Series(['big data',30,[1,2,3]])
data2

0     big data
1           30
2    [1, 2, 3]
dtype: object

In [6]:
data2.index = ['강의명','수강생수','비고']
data2

강의명      big data
수강생수           30
비고      [1, 2, 3]
dtype: object

In [7]:
data2[1]

30

In [8]:
data2['강의명']

'big data'

In [12]:
# data와 index를 명시할 수 있음
pd.Series(data = (2,5,6,1),
          index = ['a','b','c','d'])

a    2
b    5
c    6
d    1
dtype: int64

In [14]:
# dict 형태로도 전달해줄 수 있음
data3 = pd.Series(data = {'a':3, 'b':4,'c':1,'d':2})
data3

a    3
b    4
c    1
d    2
dtype: int64

In [15]:
data2 # 얘는 안나옴
data3 # 마지막 변수만 출력됨

a    3
b    4
c    1
d    2
dtype: int64

In [16]:
print(data2)
print(data3)

강의명      big data
수강생수           30
비고      [1, 2, 3]
dtype: object
a    3
b    4
c    1
d    2
dtype: int64

## 2.2.2. Series 색인

In [20]:
data4 = pd.Series(data = [10,20,30,40,50,60,70,80,90,100],
                  index = list('abcdefghij') # 이렇게 하면 알아서 매핑이 됌, but data와 size가 같아야함
                 )
data4

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [21]:
# 특정 인덱스 접근 (숫자 인덱스)
# 숫자 인덱스가 3인 항목만 조회
data4[3]

40

In [23]:
# index의 라벨로 접근
data4['d']

40

In [26]:
# 여러 인덱스 접근
# 숫자 인덱스가 1,3,5 인 항목을 조희
# data4[1,3,5] : Tuple로 넣으면 Error가 나온다!!!!
data4[[1,3,5]] # 인덱싱할때는 List 타입으로 넣어야한다

b    20
d    40
f    60
dtype: int64

In [28]:
data4[['b','d','f']] # 숫자가 아닌 값으로 접근할때도 list로 접근해야함

b    20
d    40
f    60
dtype: int64

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

In [30]:
# 3번째부터 7번째 전 항목까지 조회 -> 마지막 인덱스 포함X
# 숫자 인덱스가 2부터 6까지
data4[2:7]

c    30
d    40
e    50
f    60
g    70
dtype: int64

In [32]:
data4[:3] # 시작 인덱스 생략하면 0부터 시작

a    10
b    20
c    30
dtype: int64

In [33]:
# data4[6:10]
data4[6:] # 끝 인덱스 생략하면 마지막까지

g     70
h     80
i     90
j    100
dtype: int64

In [34]:
data4[-1] # 맨뒤 인덱스

100

In [36]:
# data4[7:10]
# data4[7:]
data4[-3:] # 음수 인덱스를 통해서 짧게 가능

h     80
i     90
j    100
dtype: int64

In [38]:
# 인덱스 라벨로도 슬라이싱 가능
# c부터 f까지 항목 출력
data4['c':'f'] # 이렇게 인덱싱하면 마지막 인덱스 포함!!!

c    30
d    40
e    50
f    60
dtype: int64

# 조건을 활용한 인덱스 선택 (조건 색인)
# 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1000px;"/>

In [39]:
data4 # 여기서 값의 조건을 만족시키는 항목만 보고 싶은 경우

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [44]:
data4 >= 50 # 이걸 만족시키는 항목은 True, 그렇지 않으면 False로 반환

a    False
b    False
c    False
d    False
e     True
f     True
g     True
h     True
i     True
j     True
dtype: bool

In [45]:
data4[data4 >= 50]

e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [49]:
# 30보다 크거나 같고 70보다 작은 항목만 출력
(data4>=30) & (data4 < 70) # 'and'연산자가 아니라 '&'연산자!! 주의하자!!

a    False
b    False
c     True
d     True
e     True
f     True
g    False
h    False
i    False
j    False
dtype: bool

In [50]:
data4[(data4>=30) & (data4 < 70)]

c    30
d    40
e    50
f    60
dtype: int64

## 2.2.3. Series 속성 조회 및 주요 함수
<img src="img/1강/Series주요속성및함수.jpg" alt="datetime" style="width: 1000px;"/>

### Series 속성

In [51]:
data4.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [52]:
data4.values

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [53]:
data4.size

10

### Series 주요 함수

In [54]:
data4.max()

100

In [56]:
data4.min()

10

In [57]:
data4.mean()

55.0

In [61]:
data4.append(pd.Series({'k':110})) # 얘는 추가가 안될까? 원본을 건들지 않았기 때문에
# data4 = data4.append(pd.Series({'k':110})) 라는 식으로 가야함

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
k    110
dtype: int64

In [63]:
data4 + 100

a    110
b    120
c    130
d    140
e    150
f    160
g    170
h    180
i    190
j    200
dtype: int64

In [64]:
data4.add(100)

a    110
b    120
c    130
d    140
e    150
f    160
g    170
h    180
i    190
j    200
dtype: int64

In [65]:
data4.describe()

count     10.000000
mean      55.000000
std       30.276504
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
dtype: float64

In [69]:
# 'm'이라고 하는 인덱스 라벨이 있는지 체크 -> in 키워드 사용
'm' in data4.index

False

In [70]:
# 50 이라는 항목이 항목 안에 있는지
50 in data4.values

True

In [72]:
# data4의 모든 값을 출력
for i in data4.values:
    print(i, end=' ')

10 20 30 40 50 60 70 80 90 100

In [73]:
# index와 value를 tuple로 리턴
for i in data4.items():
    print(i, end=' ')

('a', 10) ('b', 20) ('c', 30) ('d', 40) ('e', 50) ('f', 60) ('g', 70) ('h', 80) ('i', 90) ('j', 100)

In [78]:
for i,v in data4.items():
    print(i,v, end=',')

a 10,b 20,c 30,d 40,e 50,f 60,g 70,h 80,i 90,j 100,

---
# 기초1 실습 문제

In [82]:
import random
import numpy
from pandas import Series

In [83]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    90
B    40
C    13
D    26
E    30
F    56
G    80
H    92
I    42
J    53
K    88
L    36
M    84
N    50
O    33
P    70
Q    94
R    55
S    73
T    18
U    32
V    66
W    22
X    98
Y    83
Z    54
dtype: int64

In [84]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

88

In [85]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    90
F    56
C    13
dtype: int64

In [86]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    56
G    80
H    92
I    42
J    53
K    88
L    36
M    84
N    50
O    33
P    70
dtype: int64

In [87]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V    66
W    22
X    98
Y    83
Z    54
dtype: int64

In [88]:
# 5) data의 항목의 갯수를 출력
data.size

26

In [90]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data > data.mean()]

A    90
G    80
H    92
K    88
M    84
P    70
Q    94
S    73
V    66
X    98
Y    83
dtype: int64

In [94]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data.values

True

In [95]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for idx,val in data.items():
    print("index : {}, value: {}".format(idx,val))

index : A, value: 90
index : B, value: 40
index : C, value: 13
index : D, value: 26
index : E, value: 30
index : F, value: 56
index : G, value: 80
index : H, value: 92
index : I, value: 42
index : J, value: 53
index : K, value: 88
index : L, value: 36
index : M, value: 84
index : N, value: 50
index : O, value: 33
index : P, value: 70
index : Q, value: 94
index : R, value: 55
index : S, value: 73
index : T, value: 18
index : U, value: 32
index : V, value: 66
index : W, value: 22
index : X, value: 98
index : Y, value: 83
index : Z, value: 54