In [33]:
import pandas as pd
from pandas import Series, DataFrame

<img src="img/8강/그룹분석_groupby.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [34]:
# 실습 데이터 적재
data = pd.read_excel('data/인구수예제.xlsx')
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구
0  서울  강남구  2013    73    92  165
1  서울  강남구  2014   139    55  194
2  서울  강남구  2015   123    83  206
3  서울  강남구  2016   147   150  297
4  서울  강남구  2017    57   133  190

In [35]:
# groupby() 실습
# 연도별 전체의 총인구수 구하기
# SELECT 연도, sum(총인구)
# FROM data
# GROUP BY 연도
data.groupby('연도')['총인구'].sum()

연도
2013    2130
2014    2256
2015    1848
2016    2045
2017    2128
Name: 총인구, dtype: int64

In [36]:
# 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기
data.groupby('연도')[['남자인구','여자인구','총인구']].sum()

      남자인구  여자인구   총인구
연도
2013  1099  1031  2130
2014  1196  1060  2256
2015   872   976  1848
2016   947  1098  2045
2017  1063  1065  2128

In [37]:
# 실습 2. 자치구별로 평균 총인구수
data.groupby('자치구')['총인구'].mean()

자치구
강남구     210.4
도봉구     207.0
동래구     207.2
동작구     207.2
서대문구    206.2
송파구     194.8
수영구     212.2
영등포구    238.2
종로구     171.2
해운대구    227.0
Name: 총인구, dtype: float64

In [38]:
# 실습 3. 도시/자치구별 평균 총인구수
data.groupby(['도시','자치구'])['총인구'].mean()

도시  자치구
부산  동래구     207.2
    수영구     212.2
    해운대구    227.0
서울  강남구     210.4
    도봉구     207.0
    동작구     207.2
    서대문구    206.2
    송파구     194.8
    영등포구    238.2
    종로구     171.2
Name: 총인구, dtype: float64

In [39]:
data.pivot_table(index='연도',columns='도시',aggfunc='sum',values='총인구')

도시     부산    서울
연도
2013  603  1527
2014  683  1573
2015  597  1251
2016  652  1393
2017  697  1431

In [40]:
# 실습 4. 도시/자치구별 평균 남자인구와 여자인구수 구하기
data.groupby(['도시','자치구'])['남자인구','여자인구'].mean()

          남자인구   여자인구
도시 자치구
부산 동래구   112.4   94.8
   수영구   100.4  111.8
   해운대구  124.0  103.0
서울 강남구   107.8  102.6
   도봉구    97.0  110.0
   동작구    90.8  116.4
   서대문구   97.6  108.6
   송파구    83.0  111.8
   영등포구  125.8  112.4
   종로구    96.6   74.6

In [41]:
data.pivot_table(index=['도시','자치구'],
                 # columns 는 없어도 상관 없음
                 aggfunc=('mean','std','count'),
                 values=['남자인구','여자인구'])

         남자인구                    여자인구
        count   mean        std count   mean        std
도시 자치구
부산 동래구    5.0  112.4  38.063105   5.0   94.8  19.447365
   수영구    5.0  100.4  35.669315   5.0  111.8  29.380265
   해운대구   5.0  124.0  17.277153   5.0  103.0  32.634338
서울 강남구    5.0  107.8  40.412869   5.0  102.6  38.513634
   도봉구    5.0   97.0  38.098556   5.0  110.0  39.843444
   동작구    5.0   90.8  18.019434   5.0  116.4  22.029526
   서대문구   5.0   97.6  34.253467   5.0  108.6  26.819769
   송파구    5.0   83.0  24.413111   5.0  111.8  33.033317
   영등포구   5.0  125.8  32.104517   5.0  112.4  24.213633
   종로구    5.0   96.6  27.190072   5.0   74.6  13.649176

In [42]:
# 실습 5. 도시별, 연도별로 총인구수 출력
data.groupby(['도시','연도'])['총인구'].sum()

도시  연도
부산  2013     603
    2014     683
    2015     597
    2016     652
    2017     697
서울  2013    1527
    2014    1573
    2015    1251
    2016    1393
    2017    1431
Name: 총인구, dtype: int64

<img src="img/8강/그룹분석_pivottable.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [47]:
# pivot_table() 실습
# 실습. 도시/자치구 별로 남자인구의 평균을 구한 후, 남자인구가 가장 많은 도시/자치구 5개를 출력하시오. 
data.pivot_table(index=['도시','자치구'],
                 aggfunc='mean',
                 values='남자인구').sort_values(by='남자인구',
                                              ascending=False).head()

          남자인구
도시 자치구
서울 영등포구  125.8
부산 해운대구  124.0
   동래구   112.4
서울 강남구   107.8
부산 수영구   100.4

In [51]:
# 실습. 남자와 여자인구수 차이의 평균을 구한 후, 가장 많이 차이나는 도시/자치구 3개를 찾으시오. 
# Hint.abs() = 절대값을 구하는 함수
data['남녀차이'] = abs(data['남자인구']-data['여자인구'])
data.pivot_table(index=['도시','자치구'],
                 aggfunc='mean',
                 values='남녀차이').sort_values('남녀차이',
                                              ascending=False).head(3)

        남녀차이
도시 자치구
서울 송파구  50.8
부산 수영구  45.8
서울 강남구  44.4

### 참고할만한 사이트
[데이터 사이언스 스쿨 - 피봇테이블과 그룹분석](https://datascienceschool.net/view-notebook/76dcd63bba2c4959af15bec41b197e7c/)